.seccion {
  box-shadow: 0 10px 30px -10px black;
}
.seccion--otros {
  background: $colorSeccion-otros;
  color: $colorTipografia;
  border-radius: 1rem;
}

.seccion--destacado {
  background: $colorSeccion-destacado;
  color: $colorTipografia;
  border-radius: 1rem;
}

.seccion__text {
  font-size: $textocomun;
}

.seccion__title {
  font-size: $textoTitulos;
}
