.seccion {
  box-shadow: 0 10px 30px -10px black;
}
.seccion--otros {
  background: $colorSeccion-otros;
  color: $colorTipografia;
  border-radius: 1rem;
}

.seccion--destacado {
  background: $colorSeccion-destacado;
  color: $colorTipografia;
  border-radius: 1rem;
}

.seccion__text {
  font-size: $textocomun;
}

.seccion__title {
  font-size: $textoTitulos;
}

/*Contenedor imagenes*/
.contenedorGaleria {
  height: auto;
  background-color: #0a2a79;
  display: grid;
}
.imagen {
  min-height: 200px;
  min-width: 200px;
  border: 2px solid rgb(0, 0, 0);
}
.imagen:hover {
  transform: scale(1.2);
  transition: 0.5s;
  filter: sepia(2);
}

.imagen1 {
  grid-column: 1;
  grid-row: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(/img/img1.jpg);
  background-size: cover;
  background-position: center;
}
.imagen2 {
  grid-area: "imagen2";
  background-image: url(/img/img2.jpg);
  background-size: cover;
}
.imagen3 {
  grid-area: "imagen3";
  grid-column: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(/img/img3.jpg);
  background-size: cover;
}
.imagen4 {
  grid-area: "imagen4";
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url(/img/img4.jpg);
  background-size: cover;
}
.imagen5 {
  grid-area: "imagen5";
  background-image: url(/img/img5.jpg);
  background-size: cover;
}
.imagen6 {
  grid-area: "imagen6";
  background-image: url(/img/img6.jpg);
  background-size: cover;
}
.imagen7 {
  grid-area: "imagen7";
  background-image: url(/img/img7.jpg);
  background-size: cover;
}
.imagen8 {
  grid-area: "imagen8";
  grid-column: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(/img/img8.jpg);
  background-size: cover;
}

/*Aqui termina galeria*/
